{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <img src="{% static 'images/anime_group.webp' %}" class="img-fluid" alt="Anime World">
        </div>
        <div class="col-md-5">
            <div class="text-container">
            <h3>{% trans "Login" %}</h3>

            <p>{% blocktrans %}Welcome back to the AnimeWorld blog. To leave a comment or like a post, please log in. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-outline-dark" type="submit">{% trans "Login" %}</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}