{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container mt-5 post-detail">

    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="post-title">{{ post.anime_title }}</h1>
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if "placeholder" in post.featured_image.url %}
            <img src="{% static 'images/default.jpg' %}" class="img-fluid mb-4" alt="placeholder">
            {% else %}
            <img src="{{ post.featured_image.url }}" class="img-fluid mb-4" alt="{{ post.title}}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">{{ post.description | safe }}</p>
                    <p>
                        {% if post.recommended %}
                        <strong>Recommended:</strong> Yes
                        {% else %}
                        <strong>Recommended:</strong> No
                        {% endif %}
                    </p>
                    <p><strong>Rating:</strong> {{ post.rating }} out of 5</p>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="{% url 'post_like' post.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">
                    {% if user in post.likes.all %}
                    Unlike
                    {% else %}
                    Like
                    {% endif %}
                </button>
            </form>
            <p>Likes: {{ post.total_likes }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comment mb-3">
                    <p class="font-weight-bold">{{ comment.author }}
                        <span class="text-muted font-weight-normal">{{ comment.created_on }}</span> wrote:
                    </p>
                    <p>{{ comment.body | linebreaks }}</p>
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h3>Leave a Comment:</h3>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-outline-dark">Submit Comment</button>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock content %}