{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags%}

{% load static %}

{% if user.is_authenticated %}
<!-- TITLE -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>Share Post</h2>
            <hr>
        </div>
    </div>
</div>


<!-- RECIPE FORM -->
<div class="container">
    <div class="row">
        <div class="col-10 mt-3 offset-1 g-0">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form | crispy }}
                <button class="btn btn-secondary right mb-2" type="submit" value="Save">Share</button>
            </form>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2 text-center mt-5">
            <h2>Sorry only registered users can access this page </h2>
            <div> Please create an account</div>
            <div>
                <a href="{% url 'account_signup' %}" class="btn btn-secondary rounded mt-2"> Register</a>
            </div>            
            <hr>
         </div>
    </div>
</div>

{% endif %}


{%endblock%}